$color-primary:#f33074;
$bg-linear:linear-gradient( to left, #f33074, #fe7360);
$bg-lightgray: #f6f7f8;
$bg-darkgray:#d6d6d6;
$white-clr:#ffffff;
$graydark-clr:#6F7378;
$black-clr:#000;
$dark-black:#313131;

$media-colorblue:#0072b1;